.loader-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: var(--space-3xl);
}

.loader {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.loader--sm {
    width: 30px;
    height: 30px;
}

.loader--md {
    width: 50px;
    height: 50px;
}

.loader--lg {
    width: 70px;
    height: 70px;
}

.loader__ring {
    position: absolute;
    width: 100%;
    height: 100%;
    border: 3px solid transparent;
    border-top-color: var(--primary);
    border-radius: 50%;
    animation: spin 1.2s linear infinite;
}

.loader__ring:nth-child(2) {
    width: 75%;
    height: 75%;
    animation-delay: 0.15s;
    border-top-color: rgba(245, 180, 0, 0.6);
}

.loader__ring:nth-child(3) {
    width: 50%;
    height: 50%;
    animation-delay: 0.3s;
    border-top-color: rgba(245, 180, 0, 0.3);
}